/** link to all box shadow styles used
* https: //getcssscan.com/css-box-shadow-examples 
*/

:root {
  /* colors */
  --clr-primary-light: hsl(238, 22%, 44%);
  --clr-primary-dark: hsl(243, 87%, 12%);
  --clr-accent-light: hsl(224, 93%, 58%);
  --clr-accent-dark: hsl(170, 45%, 43%);
  --clr-neutral-light: hsl(240, 80%, 98%);
  --clr-neutral-dark: hsl(0, 0%, 75%);

  /* font family */
  --ff-primary: 'Raleway', sans-serif;
  --ff-secondary: 'Open Sans', sans-serif;
  
  --ff-main: var(--ff-primary);
  --ff-body: var(--ff-secondary);
  
  /* font size */
  --fs-800: 2.5rem;
  --fs-700: 2.25rem;
  --fs-600: 2rem;
  --fs-500: 1.5rem;
  --fs-400: 1.125rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;
  --fs-100: 0.75rem;

  --fs-heading-primary: var(--fs-800);
  --fs-heading-secondary: var(--fs-600);
  --fs-body: var(--fs-400);

  /* font weight */
  --fw-bold: 700;
  --fw-regular: 400;

  /* size */
  --size-900: 3rem;
  --size-800: 2.5rem;
  --size-700: 2rem;
  --size-600: 1.5rem;
  --size-500: 1.25rem;
  --size-400: 1rem;  
  --size-300: 0.626rem;
  --size-200: 0.5rem
}

@media only screen and (max-width: 68.75em) {
  :root {
    --fs-heading-primary: var(--fs-600);
    --fs-body: var(--fs-300);
  }
}

@media only screen and (max-width: 41em) {
  :root {
    --fs-heading-primary: var(--fs-500);
  }
}

@media only screen and (max-width: 26.625em) {
  :root {
    --fs-heading-secondary: var(--fs-500);
    --fs-body: var(--fs-200);
  }
}

@media only screen and (max-width: 21.875em) {
  :root {
    --fs-heading-primary: var(--fs-400);
    --fs-heading-secondary: var(--fs-400);
    --fs-body: var(--fs-200);
  }
}

body {
  font-family: var(--ff-body);
  font-size: var(--fs-body);
  font-weight: var(--fw-regular);
  color: var(--clr-primary-light);
}

.container {
  --max-width: 1240px;
  --padding-inline: 2rem;
  --padding-block: 3rem;

  width: min(var(--max-width), 100% - var(--padding-inline) * 2);
  padding-block: var(--padding-block);
  margin-inline: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.flex {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.link {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

.button {
  width: 100%;
  border: 0;
  border-radius: 0.25em;
  cursor: pointer;
  padding-block: 0.9375rem;
  line-height: 1;

  box-shadow: rgba(0, 0, 0, 0.15) 0.2em 0.2em 2.6px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0.2em 0.2em 2.6px;
  -moz-box-shadow: rgba(0, 0, 0, 0.15) 0.2em 0.2em 2.6px;
}

.txt-bold {
  font-weight: var(--fw-bold);
}

.ff-main {
  font-family: var(--ff-main);
}

.mb-400 {
  margin-bottom: var(--size-400);
}

.mb-500 {
  margin-bottom: var(--size-500);
}

.mb-600 {
  margin-bottom: var(--size-600);
}

.mb-700 {
  margin-bottom: var(--size-700);
}

.mb-800 {
  margin-bottom: var(--size-800);
}

.mb-800 {
  margin-bottom: var(--size-900);
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  clip-path: inset(50%) !important;
  -webkit-clip-path: inset(50%) !important;
  height: 1px !important;
  width: 1px !important;
  position: absolute !important;
  overflow: hidden !important;
  white-space: nowrap !important;
  padding: 0 !important;
  margin: -1px !important;
}